{
  "extends": "@callstack",
  "rules": {
    "react-native/no-raw-text": 0,
    "promise/prefer-await-to-then": 0
  },
  "overrides": [
    {
      "files": "*/services/graphql/index.ts",
      "rules": { "no-redeclare": 0 }
    }
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@app", "./src"]],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      }
    }
  },
  "env": {
    "jest/globals": true
  }
}
